{% extends 'foster-checkout/_layouts/default' %}

{% block body %}
	<h1>This is just a page to test components</h1>

	<div class="grid grid-cols-1 gap-4 mt-8">
		{% for lineItem in cart.lineItems %}
			{% include 'foster-checkout/_components/app/line-item-checkout' with {
				lineItem: lineItem
			} %}
		{% endfor %}
	</div>

	<div class="grid grid-cols-1 gap-4 mt-8">
		{% for lineItem in cart.lineItems %}
			{% include 'foster-checkout/_components/app/line-item-cart' with {
				lineItem: lineItem
			} %}
		{% endfor %}
	</div>

	<div class="mt-8">
		{% include 'foster-checkout/_components/app/order-summary' with {
			postalCode: '90210',
			couponCode: '121212'
		} %}
	</div>

	<div class="mt-8">
		{% include 'foster-checkout/_components/app/address-fields' with {
			context: 'shippingAddress',
			address: attribute(cart, 'shippingAddress')
		} %}
	</div>

	<div class="mt-8 space-y-4">
		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			label: 'Clearable Input',
			id: 'fullName',
			name: 'fullName',
			type: 'text',
			autocomplete: 'name',
			placeholder: 'Enter your name',
			value: 'Bob',
			required: true,
			errors: ['This field is required']
		} %}

		{% include 'foster-checkout/_components/base/input-select' with {
			id: 'shippingCountry',
			name: 'shippingCountry',
			value: 'optionOne',
			label: 'Select Input',
			options: [
				{ value: 'optionOne', label: 'Option One' },
				{ value: 'optionTwo', label: 'Option Two' },
				{ value: 'optionThree', label: 'Option Three' },
			],
			required: true,
			placeholder: "Select",
			errors: []
		} %}

	</div>
	
{% endblock %}