{% set address = address ?? null %}
{% if address %}
	{% set formatter = craft.fostercheckout.addressFormatter() %}
	<p>
		<span class="block">{{ address.fullName }}, {{ address|address({ }, formatter) }}</span>
	</p>
{% else %}
	<p>{{ 'misc.noAddress'|t('foster-checkout') }}</p>
{% endif %}
