{% set address = address ?? null %}
{% if address %}
	{% set addressService = craft.app.getAddresses() %}
	{% set customFormatter = create(
		'fostercommerce\\fostercheckout\\formatters\\CheckoutAddressFormatter',
		[
			addressService.getAddressFormatRepository(),
			addressService.getCountryRepository(),
			addressService.getSubdivisionRepository(),
		]
	) %}
	<p>
		<span class="block">{{ address.fullName }}, {{ address|address({ }, customFormatter) }}</span>
	</p>
{% else %}
	<p>No address to display</p>
{% endif %}
