{% set note = craft.fostercheckout.note('globalCheckout') %}
{% if note %}
<div class="mt-6 lg:bg-white text-sm text-gray-500 [&amp;_a]:underline [&amp;_a:hover]:decoration-current">
	{{ note|raw }}
</div>
{% endif %}
