<header class="flex flex-col justify-center items-start min-h-[64px] py-3 bg-gray-100 lg:min-h-[72px] lg:py-4">
	<div class="flex justify-start items-center gap-4 w-full max-w-[1328px] mx-auto px-4 sm:px-6">
		<a href="{{ craft.checkout.paths.cancel }}" class="inline-block">
			{% if craft.checkout.branding.logo %}
				<img
					src="{{ craft.checkout.branding.logo }}"
					class="inline-block max-h-[40px] min-h-[40px] object-contain"
					alt="{{ siteName }} Logo"
				/>
			{% else %}
				<span class="text-xl font-semibold text-[var(--brandColor)]">{{ siteName }}</span>
			{% endif %}
		</a>
	</div>
</header>