{% if step|default %}

	<div class="grid grid-cols-1 gap-4 xl:gap-6">

		{% if step == 'email' %}
			<div class="p-4 bg-gray-200 rounded-lg xl:px-6">
				<h2 class="font-semibold text-gray-500">
					{{ 'Shipping address'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

		{% if step == 'email' or step == 'address' %}
			<div class="p-4 bg-gray-200 rounded-lg xl:px-6">
				<h2 class="font-semibold text-gray-500">
					{{ 'Shipping method'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

		{% if step == 'email' or step == 'address' or step == 'shipping' %}
			<div class="p-4 bg-gray-200 rounded-lg xl:px-6">
				<h2 class="font-semibold text-gray-500">
					{{ 'Payment'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

	</div>

{% endif %}

